body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* login css below */ 

 #button{
  position: absolute;
  width: fit-content;
  top: 49.6%;
  left: 65%;
  height: 5%;
}

#box{
  background-image: linear-gradient(rgb(245, 190, 107),rgb(236, 213, 178));
  position: fixed;
  width: 100%;
  height: 100%;
}



.true{
  display: block; /* Makes the input take up the full width of its container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding and border don't increase the element's size */

  position: absolute;
  top: 50%;
  right: 38%;
  width: 27%;
  height: 4%;

}


.false{

 
  box-shadow: 0 0 0.5em red;
  
  display: block; /* Makes the input take up the full width of its container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding and border don't increase the element's size */

  position: absolute;
  top: 50%;
  right: 38%;
  width: 27%;
  height: 4%;

  border-color: crimson;
  background-color: rgb(255, 187, 187);
}

.err{
  color: rgb(110, 0, 0);
  position: absolute;
  top: 53%;
  right: 38%;
  width: 27%;
  height: 4%;
}

.spinner{
  position:absolute;
  left:50%;
  top:50%
}

